body{
    padding: 20px;
    font-family: sans-serif;
}
 
label, input{
    cursor: pointer;
}
 
.placeholder{
  width: 480px;
  height: 270px;
  line-height: 270px;
  text-align: center;
  color: #CCC;
  text-shadow: 0 2px 0px #6F6F6F;
  font-weight: 700;
  font-size: 25px;
  background-color: #4F4F4F;
}
 
iframe{
    background-color: #000;
}