<!DOCTYPE html>
<html lang="fr" ng-app="SwitchCtrl">
<head>
	<meta charset="utf-8">
	<title>Directive: ng-switch</title>
	<link rel="stylesheet" type="text/css" href="style_directive3.css">
</head>
<body>

</body>
</html>